.section-cards {
  background-color: #f1f2f3;
  padding: 1rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.search-bar__logo-container {
  background-color: #36d9d3;
  text-align: center;
  color: black;
  font-size: 1.4rem;
  text-decoration: underline;
}
